<!doctype html>
<html lang="zh-CN">
    <head>
        <% include component/headcss.ejs %>
        <style type="text/css">
            .panel{
                padding:80px 20px 0px;
                min-height:500px;
                cursor:default;
            }
            .text-center {
                margin:0 auto;
                text-align: center;
                border-radius:10px;
                max-width:900px;
                -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
                -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
                box-shadow: 0px 0px 5px rgba(0,0,0,.1);
                
            }
            .float-left {
                float: left !important;
            }
            .float-right {
                float: right !important;
            }
            img {
                border: 0;
                vertical-align: bottom;
            }
            h2 {
                padding-top: 20px;
                font-size: 20px;
            }
            .padding-big {
                padding: 20px;
            }
            .alert {
                border-radius: 5px;
                padding: 15px;
                border: solid 1px #ddd;
                background-color: #f5f5f5;
            }
        </style>
    </head>

    <body class="user-select single">
        <% include component/header.ejs %>

        <section class="container">
            <div class="content-wrap">
              <div class="content">
                <header class="article-header">
                  <h1 class="article-title"><a href="article.html"><%=article.title%></a></h1>
                  <div class="article-meta"> <span class="item article-meta-time">
                    <time class="time" data-toggle="tooltip" data-placement="bottom" title="时间：<%=article.create_time%>">
                    <i class="glyphicon glyphicon-time"></i> <%=article.create_time%></time>
                    </span> 
                    <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：JS全栈开发">
                      <i class="glyphicon glyphicon-globe"></i> JS全栈开发
                    </span> 
                    <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：前端">
                      <i class="glyphicon glyphicon-list"></i> <a href="javascript:void(0)" title="">前端</a></span> 
                      <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：120">
                        <i class="glyphicon glyphicon-eye-open"></i> 共<%=article.watch_num%>人围观
                      </span> 
                      <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0">
                        <i class="glyphicon glyphicon-comment"></i> 0个不明物体
                      </span> 
                    </div>
                </header>
                <article class="article-content">
                    <p><img data-original="images/banner/banner_03.jpg" src="images/banner/banner_03.jpg" alt="" /></p>
                    <%-article.content%>
                </article>
                <div class="article-tags">
                  标签：
                  <% article.tags.forEach(function(item2){ %>
                    <a href="" rel="tag"><%=item2%></a>
                  <% }); %>
                </div>

                <!-- <div class="relates">
                    <div class="title">
                        <h3>相关推荐</h3>
                    </div>
                    <ul>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                        <li><a href="article.html">php如何判断一个日期的格式是否正确</a></li>
                    </ul>
                </div> -->

                <div class="title" id="comment">
                    <h3>评论 <small>抢沙发</small></h3>
                </div>
                <!--<div id="respond">
                  <div class="comment-signarea">
                    <h3 class="text-muted">评论前必须登录！</h3>
                    <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
                    <h3 class="text-muted">当前文章禁止评论</h3>
                  </div>
                </div>-->
                <div id="respond">
                  <form action="" method="post" id="comment-form">
                    <div class="comment">
                      <div class="comment-title"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
                      <div class="comment-box">
                        <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
                        <div class="comment-ctrl"> <span class="emotion"><img src="images/face/5.png" width="20" height="20" alt="" />表情</span>
                          <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                          <input type="hidden" value="1" class="articleid" />
                          <button type="submit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div id="postcomments">
                  <ol class="commentlist">
                    <li class="comment-content"><span class="comment-f">#1</span>
                      <div class="comment-avatar"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
                      <div class="comment-main">
                        <p>来自<span class="address">广东深圳</span>的用户<span class="time">(2016-01-06)</span><br />
                          这是匿名评论的内容这是匿名评论的内容，这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容。</p>
                      </div>
                    </li>
                  </ol>
                  
                  <div class="quotes"><span class="disabled">首页</span><span class="disabled">上一页</span><a class="current">1</a><a href="">2</a><span class="disabled">下一页</span><span class="disabled">尾页</span></div>
                </div>
              </div>
            </div>

            <% include component/aside.ejs %>
        </section>

        <% include component/modal.ejs %>
        <% include component/footer.ejs %>
        <% include component/comjs.ejs %>
    </body>

</html>


